<br /><br />
<h1>About</h1>
<p>
  Mattias is a web developer / software engineer with more than 
  ten years of experience, where he has worked with clients such
  as Axis Communications, Vodafone and ESAB.
</p>
<p>
  He is a fullstack developer mainly working in tools such as php, javascript, html, css, 
  drupal, angular and git.
</p>
<p>
  His background is a Ph.D. in computational geometry and also work in related
  fields such as visualizations, gis and 3d-graphics using frameworks such as
  d3.js and three.js.
</p>

