<br /><br />
<div id="experiencesWrapper">
	<h1>Experiences</h1>

	<div id="projectsWrapper" ng-hide="!haveCommercials">
		<div class="row">
			<h2>Commercial</h2>
		</div>
		<div id="experienceWrapper" ng-repeat="commercial in commercials">
			<div class="row" >
				<em>{{commercial.title}}</em><br /><br />
				<div class="col-sm-2 col-md-3 experienceDate">
		      {{commercial.start_date | experienceDate}} - {{commercial.end_date | experienceDate}}
		    </div>
		    <div class="col-sm-6 col-md-8">
		      {{commercial.description}}
		    </div> 
				<!--
				<ul>
	         <li ng-repeat="(index,tool) in commercial.tools" class='label label-default'>
	         	
	         </li>
	      </ul>
	    	-->
			<div class="row">
				<div class="col-xm-12 col-sm-12 col-md-12">
					<div ng-repeat="(index,tool) in commercial.tools" class='col-sm-2 col-xm-2 col-md-1 label label-default'>
			      {{tool}}
		     	</div>
		   	</div>
			</div>
		</div>
	</div>

	<div id="projectsWrapper" ng-hide="!haveCourses">
		<h2>Courses</h2>
		<ul >
				<li ng-repeat="course in courses">{{course.title}}
					<ul>
						<li ng-repeat="(index,tool) in course.tools" class='label label-default'>{{tool}}</li>
					</ul>
				</li>
		</ul>
	</div>

	<div id="projectsWrapper" ng-hide="!haveProjects">
		<h2>Projects</h2>
		<ul>
				<li ng-repeat="project in projects">{{project.title}}</li>
		</ul>
	</div>

	<div id="projectsWrapper" ng-hide="!haveAwards">
		<h2>Awards</h2>
		<ul >
				<li ng-repeat="award in awards">{{award.title}}</li>
		</ul>
	</div>

	<div id="projectsWrapper" ng-hide="!haveEducations">
		<h2>Education</h2>
		<ul >
				<li ng-repeat="education in educations">{{education.title}}</li>
		</ul>
	</div>
</div>



