#experiencesWrapper {
  .label {
    background-color: blue;
    margin-right: 10px;
    margin-top: 5px;
  }

  #experienceWrapper {
    margin-bottom: 50px;

    .experienceDate {
      padding-left: 0;
    }
  }
}